@model List<Blogger.Web.Models.Domain.Tag>
@{
}

<div class="bg-light py-2">
    <div class="container">
        <h1>Show All Tag - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    @if(Model != null && Model.Any()) {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Display Name</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var tag in Model)
                {
                    <tr>
                        <th scope="row">@tag.Id</th>
                        <td>@tag.Name</td>
                        <td>@tag.DisplayName</td>
                    </tr>
                }
            </tbody>
        </table>
    } else {
        <p>No tags found!</p>
    }
</div>
