@{
    
}
@model Blogger.Web.Models.ViewModels.AddBlogPostRequest

<div class="bg-light py-2">
    <div class="container">
        <h1>Add New Blog Posts - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Heading</label>
            <input type="text" required class="form-control" id="heading" asp-for="Heading"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Page Title</label>
            <input type="text" required class="form-control" id="pageTitle" asp-for="PageTitle" />
        </div>
        <div class="mb-3">
            <label class="form-label">Content</label>
            <textarea class="form-control" required id="content" asp-for="Content"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Short Description</label>
            <input type="text" class="form-control" id="shortDescription" asp-for="ShortDescription" />
        </div>

        <div class="mb-3">
            <label class="form-label">Featured Image Upload</label>
            <input type="file" class="form-control" id="featuredImageUpload" />

            <img src="" id="featuredImageDisplay" stryle="display:none; max-width:200px;" />
        </div>

        <div class="mb-3">
            <label class="form-label">Featured Image Url</label>
            <input type="text" class="form-control" id="imageUrl" asp-for="FeaturedImageUrl" />
        </div>
        <div class="mb-3">
            <label class="form-label">Url Handle</label>
            <input type="text" required class="form-control" id="urlHandle" asp-for="UrlHandle" />
        </div>
        <div class="mb-3">
            <label class="form-label">Published Date</label>
            <input type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" id="publishedDate" asp-for="PublishedDate" />
        </div>
        <div class="mb-3">
            <label class="form-label">Author</label>
            <input type="text" required class="form-control" id="author" asp-for="Author" />
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible">
            <label class="form-check-label" for="visible">
                Is Visible?
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">Tags</label>
            <select class="form-control" asp-items="@Model.Tags" asp-for="SelectedTags">
            </select>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>

@section scripts {
    <script>
        var editor = new FroalaEditor('#content');

        const featuredUploadElement = document.getElementById('featuredImageUpload')
        const featuredImageUrlElement = document.getElementById('imageUrl');
        const featuredImageDisplayElement = document.getElementById('featuredImageDisplay');

        const uploadFeaturedImage = async (e) => {
            let data = new FormData();
            data.append('file', e.target.files[0]);

            return await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
            .then(result => {
                featuredImageUrlElement.value = result.url;
                featuredImageDisplayElement.src = result.url;
                featuredImageDisplayElement.style.display = 'block';
            });
        }

        featuredUploadElement.addEventListener('change', uploadFeaturedImage)

    </script>
}