@{
    //ViewData["Title"] = "Login";
}
@model Blogger.Web.Models.ViewModels.Auth.LoginViewModel

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="my-3 h3">Login</h1>
            <form method="post">
                <div class="mb-3">
                    <label for="Username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="Username" name="Username" placeholder="Username" required asp-for="Username">
                    <span class="text-danger" asp-validation-for="Username"></span>
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" required min="6" asp-for="Password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-dark">Login</button>
                </div>
                <input type="hidden" value="@Model.ReturnUrl" asp-for="ReturnUrl" />
            </form>
            <p>SuperAdmin : superadmin@blogger.com | Superadmin@123</p>
            <p>admin : admin1 | Admin1@123</p>
            <p>user : user1 | user1@123</p>
        </div>
    </div>
</div>